<div class="center jumbotron">
  <h1 class="welcome">Welcome to My Vegan Recipes</h1>
  
  <h3 class="welcome">A place to collect all your favorite vegan recipes!</h3>
  
  <%= link_to "Sign up now", register_path, class: "btn btn-lg btn-success" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as a Guest
    </h3>
    <h4 class="left">Browse recipes as a guest and sign up later</h4>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Log In
    </h3>
    <h4 class="left">Add recipes, write reviews, and more</h4>
    <p><%= link_to "Log In To Your Account", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Source Code
    </h3>
    <h4 class="left">View the Github repository for this app</h4>
    <p><%= link_to "Link to Github", "https://github.com/melissanemeth/myrecipes.git", :target => "_blank", class: "btn btn-warning btn-small" %></p>
  </div>
</div>