$navbar-default-bg: #009999;
$light-orange: #FF9933;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background: #9ee8fa; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #9ee8fa 0%, #d6f9ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9ee8fa), color-stop(100%,#d6f9ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #9ee8fa 0%,#d6f9ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #9ee8fa 0%,#d6f9ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #9ee8fa 0%,#d6f9ff 100%); /* IE10+ */
  background: linear-gradient(135deg,  #9ee8fa 0%,#d6f9ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee8fa', endColorstr='#d6f9ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: left;
  margin-top: 20px;
  list-style-type: none;
}

.dropdown {
  list-style-type: none;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}

.btn-warning {
  background-color: #FFAD60;
  color: black;
}

.btn-warning:hover {
  background-color: #e59b56;
}

.btn-success {
  background-color: #398564;
}

.btn-success:hover {
  background-color: #275d46;
}

h1 {
  font-family: Candara;
}

