/* $navbar-default-bg: #009999;
$light-orange: #FF9933;
$navbar-default-color: $light-orange; */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #602320;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #191919;
  background-color:  #eb8c00;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  border: none;
  font-family: 'Shadows Into Light', cursive;
}

#logo:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  background-color:  #eb8c00;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  border: none;
  font-family: 'Shadows Into Light', cursive;
}

body {
  padding-top: 80px;
  background-color: #E6E6B8;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: left;
  margin-top: 20px;
  list-style-type: none;
}

.dropdown {
  list-style-type: none;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}

 .btn-warning {
  background-color: #dc6900;
  color: black;
  border: none;
}

.btn-warning:hover {
  background-color: #dc6900;
  border: none;
}

.btn-success {
  background-color: #006B00;
  border: none;
}

.btn-success:hover {
  background-color: #006B00;
  border: none;
  color: black;
}

.jumbotron {
  background-image: image-url("Broccoli-crop.jpg");
  background-size: 100%;
  overflow: hidden;
}

.welcome {
  color: #FFFFF5 !important;
}